{{>headerhome}}
<div class="row" style="font-family:Satisfy-Regular;text-align:center;padding: 100px;">
	<p style="font-size:33px"> Cancellation Policy: </p>
	<p style="font-size:23px"> 7 days before ride start time: 100% refund </p>
	<p style="font-size:23px"> 48 hours before ride start time: 50% of Total cost of the ride</p>
</div>
{{>footer}}
