{{>headerhome}}
<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		<div class="row" style="font-family:Satisfy-Regular;text-align:center;padding: 100px;">
			<h1>About Us</h1>
			<p style="font-size:33px"><strong>Rediscovery Cruises</strong></p>
			<p style="font-size:28px"> See Goa from the river and the Sea .. as it is meant to be..</p>
			<p style="font-size:28px"> &nbsp; </p>
			<p style="font-size:28px"> Contact: </p>
			<p style="font-size:28px"> <i class="fa fa-phone"></i> +91 9422740092 or 7710097699</p>
			<p style="font-size:28px"> <i class="fa fa-envelope-o"></i> rediscoverycruises@gmail.com</p>
		</div>
	</div>
	<div class="col-lg-3" style="padding-top:20px;">
		<div id="TA_cdswritereviewlg83" class="TA_cdswritereviewlg"><ul id="n9Ql3R1i1Sep" class="TA_links dTOLjP0Lzx"><li id="4QuGgDV" class="QFO6FqeOJb"><a target="_blank" href="https://www.tripadvisor.in/"><img src="https://www.tripadvisor.in/img/cdsi/img2/branding/medium-logo-12097-2.png" alt="TripAdvisor"/></a></li></ul></div><script src="https://www.jscache.com/wejs?wtype=cdswritereviewlg&uniq=83&locationId=10306573&lang=en_IN&lang=en_IN&display_version=2"></script>
	</div>
</div>

</div>
{{>footer}}
