{{>headerhome}}
<div class="row" style="font-family:Satisfy-Regular;text-align:center;padding: 100px;">
	<h1>About Us</h1>
	<p style="font-size:33px"><strong>Rediscovery Cruises</strong></p>
	<p style="font-size:28px"> See Goa from the river and the Sea .. as it is meant to be..</p>
	<p style="font-size:28px"> &nbsp; </p>
	<p style="font-size:28px"> Contact: </p>
	<p style="font-size:28px"> <i class="fa fa-phone"></i> +91 9422740092 or 7710097699</p>
	<p style="font-size:28px"> <i class="fa fa-envelope-o"></i> rediscoverycruises@gmail.com</p>
</div>
</div>
{{>footer}}
