<!-- <div class="container"> -->
{{>header}}
<div class="row mainBox tryIndex">

	<div id="carousel-example-generic" class="carousel slide carousel-fade" style="position:relative;" data-ride="carousel" data-interval: "1000">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>

		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active ">
				<img src="../images/main1.jpg" style="width:100%;height:630px;">
			</div>
			<div class="item">
				<img src="../images/main2.jpg" style="width:100%;height:630px;">
			</div>
			<div class="item">
				<img src="../images/main3.jpg" style="width:100%;height:630px;">
			</div>
			<div class="item">
				<img src="../images/main4.jpg" style="width:100%;height:630px;">
			</div>
		</div>
	</div>
	<!-- <div class="carousel-caption">
	</div> -->
	<div class="row mainBox" style="text-align:center;padding-top:25px;padding-bottom:30px">
		<p style="font-family:SourceSansPro-Bold;font-size:30px;color:rgb(149,149,149);">About</p>
		<div class="row " style="font-family:SourceSansPro-Regular;font-size:16px;color:rgb(49,49,49);text-align:justify;padding-left:45px;padding-right:45px">
			<p>Where Yachts have become the symbol of opulence, this lap of luxury promises no less. This yacht in question has embraced the beautiful river Mandovi as its home and can be found parked at the Britona jetty.</p>

			<p>Never mind the hype of waking up to the beach. Here you’ll be waking up in the midst of calm waters. Feel the pleasant breeze as you experience both sunrise and sunset. Visualize a 360 degree picturesque scene. Colourful parallel shores on either side.
				Glimpse the shoals of fish beneath the flowing water. And the mouth of the river and the Arabian Sea beyond. With all this and more, your stay couldn’t be more perfect.</p>

			<p>The boat comes with a tastefully designed bedroom, washroom and sit out area. It’s fully equipped with air conditioning, fridge and other essentials strategically placed for your convenience. Ideal for a couple seeking a refuge, this yacht has been
				designed to deepen bonds.</p>
		</div>
	</div>

	<div class="row mainBox">
		<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding:0px">
			<div id="carousel-example-generic-1" class="carousel slide carousel-fade" style="position:relative;" data-ride="carousel" data-interval: "1000">
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic-1" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic-1" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic-1" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active ">
						<img src="../images/backwaters1.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/backwaters2.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/backwaters3.jpg" style="width:100%;height:364px;">
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding-top:120px;text-align:center">
			<p style="font-family:SourceSansPro-Bold;font-size:30px;color:rgb(149,149,149);"> Customized trips along Goa's rivers and Backwaters</p>
		</div>
	</div>

	<div class="row mainBox">
		<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding-top:125px;text-align:center">
			<p style="font-family:SourceSansPro-Bold;font-size:30px;color:rgb(149,149,149);">Boat with AC cabin</p>
		</div>
		<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding:0px">
			<div id="carousel-example-generic-2" class="carousel slide carousel-fade" style="position:relative;" data-ride="carousel" data-interval: "1000">
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic-2" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic-2" data-slide-to="3"></li>

				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active ">
						<img src="../images/cabin1.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/cabin2.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/cabin3.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/cabin4.jpg" style="width:100%;height:364px;">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mainBox">
		<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding:0px">
			<div id="carousel-example-generic-3" class="carousel slide carousel-fade" style="position:relative;" data-ride="carousel" data-interval: "1000">
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic-3" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic-3" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic-3" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic-3" data-slide-to="3"></li>
					<li data-target="#carousel-example-generic-3" data-slide-to="4"></li>

				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active ">
						<img src="../images/yatch1.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/yatch2.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/yatch3.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/yatch4.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/yatch5.jpg" style="width:100%;height:364px;">
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding-top:125px;text-align:center">
			<p style="font-family:SourceSansPro-Bold;font-size:30px;color:rgb(149,149,149);">Luxury Yacht</p>
		</div>
	</div>
</div>
{{>footer}}
