<!-- <div class="container"> -->
{{>headerhome}}
<div class="row tryIndex">

	<div id="carousel-example-generic" class="carousel slide carousel-fade" style="position:relative;" data-ride="carousel" data-interval: "1000">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>

		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active ">
				<img src="../images/main1.jpg" style="width:100%;height:550px;">
				<div class="carousel-caption" style="right: 20px; top:0px;">
					<div class="row">
						<div class="col-lg-9"></div>
						<div class="col-lg-3">
							<div id="TA_selfserveprop154" class="TA_selfserveprop">
								<ul id="5uhHK2tl" class="TA_links kLkMc7hf">
									<li id="DNrcjnT" class="1O9542OQcs">
										<a target="_blank" href="https://www.tripadvisor.in/">
											<img src="https://www.tripadvisor.in/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor" />
										</a>
									</li>
								</ul>
							</div>
							<script src="https://www.jscache.com/wejs?wtype=selfserveprop&uniq=154&locationId=10306573&lang=en_IN&rating=true&nreviews=8&writereviewlink=true&popIdx=true&iswide=false&border=true&display_version=2"></script>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<img src="../images/main2.jpg" style="width:100%;height:550px;">
				<div class="carousel-caption" style="right: 20px; top:0px;">
					<div class="row">
						<div class="col-lg-9"></div>
						<div class="col-lg-3">
							<div id="TA_rated757" class="TA_rated">
								<ul id="wzouOVLhr" class="TA_links pTW45s">
									<li id="xJlBNiWzc" class="Jgj6gi">
										<a target="_blank" href="https://www.tripadvisor.in/">
											<img src="https://www.tripadvisor.in/img/cdsi/img2/badges/ollie-11424-2.gif" alt="TripAdvisor" />
										</a>
									</li>
								</ul>
							</div>
							<script src="https://www.jscache.com/wejs?wtype=rated&amp;uniq=757&amp;locationId=10306573&amp;lang=en_IN&amp;display_version=2"></script>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<img src="../images/main3.jpg" style="width:100%;height:550px;">
				<div class="carousel-caption" style="right: 20px; top:0px;">
					<div class="row">
						<div class="col-lg-9"></div>
						<div class="col-lg-3">
							<div id="TA_excellent875" class="TA_excellent">
								<ul id="uJg6mLD0" class="TA_links WfXcO4Fwh30t">
									<li id="QYSdiKkkEeW" class="VGlq9G">
										<a target="_blank" href="https://www.tripadvisor.in/">
											<img src="https://static.tacdn.com/img2/widget/tripadvisor_logo_115x18.gif" alt="TripAdvisor" class="widEXCIMG" id="CDSWIDEXCLOGO" />
										</a>
									</li>
								</ul>
							</div>
							<script src="https://www.jscache.com/wejs?wtype=excellent&uniq=875&locationId=10306573&lang=en_IN&display_version=2"></script>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<img src="../images/main4.jpg" style="width:100%;height:550px;">
				<div class="carousel-caption" style="right: 20px; top:0px;">
					<div class="row">
						<div class="col-lg-8"></div>
						<div class="col-lg-3">
							<div id="TA_cdsscrollingravenarrow599" class="TA_cdsscrollingravenarrow">
								<ul id="Sd12p6oSJZJ" class="TA_links 7j1RVFU2ZJO">
									<li id="gIe5lBi" class="yRoIfEMvdu">
										<a target="_blank" href="https://www.tripadvisor.in/">
											<img src="https://static.tacdn.com/img2/t4b/Stacked_TA_logo.png" alt="TripAdvisor" class="widEXCIMG" id="CDSWIDEXCLOGO" />
										</a>
									</li>
								</ul>
							</div>
							<script src="https://www.jscache.com/wejs?wtype=cdsscrollingravenarrow&amp;uniq=599&amp;locationId=10306573&amp;lang=en_IN&amp;border=true&amp;shadow=false&amp;display_version=2"></script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mainBox" style="text-align:center;padding-top:25px;padding-bottom:30px">
		<p style="font-family:Satisfy-Regular;font-size:38px;color:rgb(149,149,149);">About</p>
		<div class="row " style="font-family:Satisfy-Regular;font-size:23px;color:rgb(49,49,49);text-align:justify;padding-left:45px;padding-right:45px">
			<p> Feel the pleasant breeze as you experience both sunrise and sunset. Visualize a 360 degree picturesque scene. Colourful parallel shores on either side. Glimpse the shoals of fish beneath the flowing water or spot crocodiles amidst the mangroves. Experience
				the beautiful confluence of river Mandovi and the Arabian Sea. With all this and more, all this and much more when you book a ride with Rediscovery Cruises.</p>
			<p> Be it a couple, family, a group of friends or a solo traveller. We have customized rides for all. You can choose from options like exclusive sunset ride, romantic dinner cruise, anniversary celebration cruise, exclusive fishing trip etc. </p>
		</div>
	</div>

	<div class="row mainBox">
		<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding:0px">
			<div id="carousel-example-generic-1" class="carousel slide carousel-fade" style="position:relative;" data-ride="carousel" data-interval: "1000">
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic-1" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic-1" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic-1" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active ">
						<img src="../images/backwaters1.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/backwaters2.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/backwaters3.jpg" style="width:100%;height:364px;">
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding-top:80px;text-align:center">
			<p style="padding-left:17px;padding-right:17px;font-family:Satisfy-Regular;font-size:30px;color:rgb(49,49,49);"> Customized trips along Goa's rivers and Backwaters</p>
			<p style="padding-left:17px;padding-right:17px;font-family:Satisfy-Regular;font-size:18px;"> Sail through the Goan back waters in a Private Speed Boat or a Luxury Yacht.</p>
			<p style="padding-left:17px;padding-right:17px;font-family:Satisfy-Regular;font-size:18px;"> Enjoy the scintillating sunset views, the soothing breeze and a yacht all to yourself. </p>
			<p style="padding-left:17px;padding-right:17px;font-family:Satisfy-Regular;font-size:18px;"> We also provide a perfect setting for a romantic dinner date or celebrations on these cruises. </p>

		</div>
	</div>

	<div class="row mainBox">
		<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding-top:90px;text-align:center">
			<p style="font-family:Satisfy-Regular;font-size:30px;color:rgb(49,49,49);">Boat with AC cabin</p>
			<p style="padding:17px; font-family:Satisfy-Regular;font-size:18px;">The boat comes with a tastefully designed bedroom, washroom and sit out area. It’s fully equipped with air conditioning, fridge and other essentials strategically placed for your convenience. Ideal for a couple seeking a refuge, this yacht has been
				designed to deepen bonds.</p>
		</div>
		<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding:0px">
			<div id="carousel-example-generic-2" class="carousel slide carousel-fade" style="position:relative;" data-ride="carousel" data-interval: "1000">
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic-2" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic-2" data-slide-to="3"></li>

				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active ">
						<img src="../images/cabin1.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/cabin2.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/cabin3.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/cabin4.jpg" style="width:100%;height:364px;">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mainBox">
		<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding:0px">
			<div id="carousel-example-generic-3" class="carousel slide carousel-fade" style="position:relative;" data-ride="carousel" data-interval: "1000">
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic-3" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic-3" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic-3" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic-3" data-slide-to="3"></li>
					<li data-target="#carousel-example-generic-3" data-slide-to="4"></li>

				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active ">
						<img src="../images/yatch1.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/yatch2.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/yatch3.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/yatch4.jpg" style="width:100%;height:364px;">
					</div>
					<div class="item">
						<img src="../images/yatch5.jpg" style="width:100%;height:364px;">
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding-top:125px;text-align:center">
			<p style="font-family:Satisfy-Regular;font-size:30px;color:rgb(49,49,49);">Luxury Yacht</p>
		</div>
	</div>
</div>
{{>footer}}
