{{>headerhome}}
<div class="row" style="padding-top:20px">
	<div class="col-lg-1"></div>
	<div class="col-lg-2" style="padding-top:10px;">
		<div id="TA_selfserveprop154" class="TA_selfserveprop">
			<ul id="5uhHK2tl" class="TA_links kLkMc7hf">
				<li id="DNrcjnT" class="1O9542OQcs">
					<a target="_blank" href="https://www.tripadvisor.in/">
						<img src="https://www.tripadvisor.in/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor" />
					</a>
				</li>
			</ul>
		</div>
		<script src="https://www.jscache.com/wejs?wtype=selfserveprop&uniq=154&locationId=10306573&lang=en_IN&rating=true&nreviews=8&writereviewlink=true&popIdx=true&iswide=false&border=true&display_version=2"></script>
	</div>

	<div class="col-lg-6">
		<div class="row" style="font-family:Satisfy-Regular;text-align:center;padding:50px;">
			<p style="font-size:31px">Our Standard Cruise Pricing</p>
			<p style="font-size:23px"> &nbsp; </p>
			<p style="font-size:27px">
				<strong>Open Boat:</strong>
			</p>
			<p style="font-size:23px">Rs. 8,000/- for a maximum of 6 Adults for a 2 hour ride</p>
			<p style="font-size:23px">Extra hour chargeable at Rs.3500/-per hour</p>
			<p style="font-size:23px"> &nbsp; </p>
			<p style="font-size:27px">
				<strong>One Bedroom Premium Yacht:</strong>
			</p>
			<p style="font-size:23px">Rs.9,000/- for 2 Adults for a 2 hour ride </p>
			<p style="font-size:23px">Extra hour chargeable at Rs.4000/-per hour</p>
			<p style="font-size:23px"> &nbsp; </p>
			<p style="font-size:27px">
				<strong>Open Yacht:</strong>
			</p>
			<p style="font-size:23px">Rs.18,000/- for 1-2 Adults for a 2 hour ride </p>
			<p style="font-size:23px">Rs.1000/- per extra adult upto 16 Adults</p>
			<p style="font-size:23px">Extra hour chargeable at Rs.7000/-per hour</p>
			<p style="font-size:23px"> &nbsp; </p>
			<p style="font-size:30px">
				<strong>For enquiries for more than 16 adults call us or drop in an email.</strong>
			</p>
			<p style="font-size:23px"> &nbsp; </p>
			<p style="font-size:27px">
				<strong>All our basic rides come with the following inclusions:</strong>
			</p>
			<p style="font-size:23px">2 Hours of Private cruise</p>
			<p style="font-size:23px">Complimentary Basic Beverages (Beer, soft drinks and water)</p>
			<p style="font-size:23px">Complimentary snacks (1 Veg/Chicken club sandwich per person)</p>
			<p style="font-size:23px">Pickup and drop in an AC Vehicle in and around Panjim</p>
		</div>
	</div>
	<div class="col-lg-2">
		<div id="TA_excellent875" class="TA_excellent">
			<ul id="uJg6mLD0" class="TA_links WfXcO4Fwh30t">
				<li id="QYSdiKkkEeW" class="VGlq9G">
					<a target="_blank" href="https://www.tripadvisor.in/">
						<img src="https://static.tacdn.com/img2/widget/tripadvisor_logo_115x18.gif" alt="TripAdvisor" class="widEXCIMG" id="CDSWIDEXCLOGO" />
					</a>
				</li>
			</ul>
		</div>
		<script src="https://www.jscache.com/wejs?wtype=excellent&uniq=875&locationId=10306573&lang=en_IN&display_version=2"></script>
	</div>
	<!-- <div class="col-lg-1"></div> -->
</div>




{{>footer}}
