{{>headerhome}}
<div class="row" style="font-family:Satisfy-Regular;text-align:center;padding:50px;">
	<p style="font-size:34px;">
		<h1>Timings</h1></p>
	<p style="font-size:26px">Operational Hours:</p>
	<p style="font-size:22px">6 AM to 9 PM everyday.</p>
	<p style="font-size:22px">The minimum ride is for 2 hours. Slots start at 6 AM in the morning till 9 PM in the night.</p>
</div>
{{>footer}}
