<nav class="footer mainBox">
	<div class="fluid-container">
		<div class="foot row mainBox" style=" background-color:rgb(43,43,43) ">
			<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
				<div class="row mainBox">
					<div class="col-md-1 col-lg-1 col-xs-1 col-sm-1">
					</div>
					<div class="col-md-11 col-lg-11 col-xs-11 col-sm-11 f_img" style="margin-left: -5px;">
						<p style="color:white;padding-top: 15px;"> Contact: </p>
						<p style=" margin-bottom: 0px;color:white; "> <i class="fa fa-phone"></i> +91 7710097699</p>
						<p style=" margin-bottom: 0px;color:white;"><i class="fa fa-phone"></i> +91 9422740092</p>
						<p style="color:white;"><i class="fa fa-envelope-o"></i> rediscoverycruises@gmail.com</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
				<h4 style="color:white; font-size:15px;font-family:SourceSansPro-Regular;">Connect On</h4>
				<a href="https://www.facebook.com/rediscoverycruises"><i class="fa fa-facebook-square fa-2x" style="color:rgb(58,87,149)"></i></a>
				<a href="https://twitter.com/rediscoverycru"><i class="fa fa-twitter-square fa-2x" style="color:rgb(40,169,224)" ></i></a>
				<a href="https://plus.google.com/106567020419908652068"><i class="fa fa-google-plus-square fa-2x" style="color:rgb(230,75,68)"></i></a>
				<!-- <a href=""><i class="fa fa-linkedin-square fa-2x" style="color:rgb(1,119,181)"></i></a> -->

			</div>
		</div>
		<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="/js/pro.js"></script>

	</div>
	</div>
</nav>
